


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->



    <bean id = "alien" class = "org.example.Alien" scope = "prototype" autowire="byType">


        <property name="age" value="2"/>
        <property name="com" ref="com"/>

<!--        <property name="age" value="2"> </property>-->
<!--        <property name="com" value="com1"> </property>-->
<!--        <constructor-arg name = "lap" ref="lap1"/>-->
<!--        <constructor-arg name = "age" value="2"> </constructor-arg>-->

        <!--        <property name="lap" ref="lap1"></property>-->
    </bean>

    <bean id = "com" class = "org.example.Laptop">
    </bean>


    <bean id = "com1" class = "org.example.Desktop" primary="true" lazy-init="true">
    </bean>

<!--    <bean id = "alien" class = "org.example.Alien">-->
<!--    </bean>-->

</beans>